.Pricing {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .Pricing .pricing {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }
  .Pricing .pricing p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }
  .Pricing .pricing h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
  }
  .Pricing .pricing1 {
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .pricing1 .pricing2,
  .pricing1 .pricing3,
  .pricing1 .pricing4,
  .pricing1 .pricing5 {
    width: 100%;
    height: 80%;
    border-radius: 30px;
    background: #ffffff10;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .pricing1 .pricing2 p,
  .pricing1 .pricing3 p,
  .pricing1 .pricing4 p,
  .pricing1 .pricing5 p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }
  .pricing1 .pricing2 h3,
  .pricing1 .pricing3 h3,
  .pricing1 .pricing4 h3,
  .pricing1 .pricing5 h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
  }