section1 {
    padding: 80px 13% 70px;
    margin-top: 98px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3.5rem;
    border-width: 0px, 0px, 0px, 0px;
    background: linear-gradient(97.12deg,rgba(255, 255, 255, 0.08) -3.52%,rgba(255, 255, 255, 0.07) 100.35%);
    position: absolute;
    left: 0;
    right: 0;
}

.footer-content h2 {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content p {
    margin-bottom: 16px;
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}


.icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0 15px 0;
    color: #d6d6d6;
    font-size: 16px;
}